- url = url_for(:action => 'dialog_field_changed', :id => @edit[:rec_id] || "new") if @edit
- dialog_mode = @edit[:dialog_mode] if @edit

- case dialog_mode
- when :reconfigure
  - edit = field.reconfigurable
- when :review
  - edit = false
- else
  - edit = !@edit.nil?

%tr{:id => "field_#{field.id}_tr"}
  %td.key{:title => field.description}
    = field.label
  %td{:title => field.description}
    - locals = {:edit => edit, :field => field, :url => url, :wf => wf}
    - case field.type
    - when 'DialogFieldTextBox'
      = render(:partial => "shared/dialogs/dialog_field_text_box", :locals => locals)

    - when 'DialogFieldTextAreaBox'
      = render(:partial => "shared/dialogs/dialog_field_text_area_box", :locals => locals)

    - when 'DialogFieldCheckBox'
      = render(:partial => "shared/dialogs/dialog_field_check_box", :locals => locals)

    - when 'DialogFieldDateControl', 'DialogFieldDateTimeControl'
      = render(:partial => "shared/dialogs/dialog_field_date_and_date_time_control.haml", :locals => locals)

    - when "DialogFieldRadioButton"
      = render(:partial => "shared/dialogs/dialog_field_radio_button", :locals => locals)

    - when "DialogFieldDropDownList"
      = render(:partial => "shared/dialogs/dialog_field_drop_down_list", :locals => locals)

    - when 'DialogFieldButton'
      = button_tag(_("Save"), :class => edit ? 'btn btn-primary' : 'btn btn-primary btn-disabled')

    - when 'DialogFieldTagControl'
      - when 'DialogFieldTagControl'
        = render(:partial => "shared/dialogs/dialog_tag_control", :locals => locals)
